@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: auto;
    border: 1px solid #F3F3F3;
    padding: 2rem;
}

.form {
    width: 100%;
    letter-spacing: .05rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.label {
    font-size: .875rem;
    font-weight: 600;
}

.input-text{
    border: 1px solid rgb(157,192,250);
    border-radius: 0.375rem;
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 1rem;
    letter-spacing: .05rem;
}

p {
    color: #6B7280;
}

.sub-head {
    font-size: .875rem;
    font-weight: 600;
    color: black;
    margin-top: 0.7rem;
}

.checkbox{
    display: flex;
    gap: 0.5rem;
}

.checkbox-button{
    height: 1rem;
    width: 1rem;
    margin-top: 0.1rem;
}

.radio-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.radio{
    display: flex;
    gap: 0.5rem;
}

.radio-button{
    height: 1rem;
    width: 1rem;
}

.email-sub-head, .desc{
    margin-bottom: 0.5rem;
}

button {
    height: 2.5rem;
    width: 5rem;
    background-color: rgb(59,130,246);
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

button:Hover {
    background-color: #1D4ED8;
}